[Unit]
Description=Pisound Hotspot
After=pisound-btn.service
Requires=pisound-btn.service

[Service]
RemainAfterExit=yes
ExecStart=/bin/bash /usr/local/pisound/scripts/pisound-btn/enable_wifi_hotspot.sh
ExecStop=/bin/bash /usr/local/pisound/scripts/pisound-btn/disable_wifi_hotspot.sh

[Install]
WantedBy=multi-user.target

