[Unit]
Description=Bluetooth service for Pisound companion app.
After=bluetooth.target

[Service]
EnvironmentFile=/etc/environment
Environment=HOME=/root
ExecStart=/usr/bin/pisound-ctl
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
